:local(.container) {
  overflow: hidden;
}

:local(.item) {
  composes: content from global;
  padding: 0;
  background: #fff;
}

@media only screen and (max-width: 768px) {
  :local(.container h1) {
    text-align: center;
  }
}
