:local(.container) {
  background-color: #111;
  color: #fff;
  width: 200px;
  position: relative;
}

:local(.title) {
  display: block;
  color: #fff;
  font-size: 20px;
  margin: 20px;
  overflow-x: hidden;
}

:local(.divider) {
  background-color: rgba(255, 255, 255, 0.1);
  height: 1px;
  width: 100%;
  margin: 10px 0;
}

:local(.menuItem) {
  cursor: pointer;
  display: block;
  color: #fff;
  padding: 10px 20px;
  opacity: 0.7;
}

:local(.menuItem):hover {
  opacity: 1;
}

:local(.itemActive) {
  composes: menuItem;
  opacity: 1;
}

:local(.logout) {
  composes: menuItem;
  font-size: 14px;
  display: flex;
  align-items: center;
}

:local(.menuButton) {
  display: none;
}

@media only screen and (max-width: 768px) {
  :local(.menuButton) {
    display: flex;
    position: absolute;
    color: #fff;
    right: 12px;
    top: 12px;
  }
}
