
:local(.editorContainer) {
	flex: 12;
	display: flex;
	flex-direction: row;
}

@media only screen and (max-width: 899px) {
	:local(.editorContainer) {
		flex-direction: column;
	}
}

:local(.imagesContainer) {
	flex: 1;
	background-color: #fafafa;
	overflow-y: auto;
	border-right: 1px solid rgba(70,70,70,.2);
}

@media only screen and (max-width: 899px) {
	:local(.imagesContainer) {
		flex-direction: row;
		display: none;
	}
}

:local(.imagesContainer) div {
	width: 100%;
	margin: 10px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

:local(.imagesContainer) div img {
	margin: 10px 0;
	width: 80%;
	background-color: white;
}

:local(.imagesContainer) div span {
	margin: 2px 0 10px;
	padding: 0;
	width: 80%;
	font-size: 10px;
	overflow-x: hidden;
}

:local(.pdfImageContainer) {
	flex: 7;
	background-color: #fafafa;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	overflow-y: auto;
	border-right: 1px solid rgba(70,70,70,.2);
}

:local(.pdfImageHelpContainer) {
	margin: 10px 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
}

@media only screen and (max-width: 899px) {
	:local(.pdfImageHelpContainer) {
		display: none;
	}
}

:local(.pdfImageContainer) img {
	margin: 10px 0;
	width: 90%;
}

:local(.optionsContainer) {
	flex: 2;
	background-color: #fafafa;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

@media only screen and (max-width: 899px) {
	:local(.optionsContainer) {
		flex-direction: row;
		display: none;
	}
}

:local(.optionsContainer) div {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

:local(.optionsContainer) .os_button_container {
	width: 100%;
	margin: 0 5px;
}

:local(.optionsContainer) .orion_button {
	width: 100%;
	margin: 0;
	padding: 0;
}

:local(.loaderContainer) {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

:local(.iconSpinBig) {
	font-size: 30px;
	color: rgb(0,159,255);
	-webkit-animation: icon-spin 2s infinite linear;
	animation: icon-spin 2s infinite linear;
}