:local(.container) {
  flex: 1;
  display: flex;
  min-height: 100vh;
  position: relative;
}

:local(.notifications) {
  cursor: pointer;
  position: absolute;
  right: 40px;
  top: 20px;
  border-radius: 50%;
  box-shadow: 3px 0px 6px rgba(50, 50, 93, 0.1), 0 8px 15px rgba(0, 0, 0, 0.07);
}

:local(.content) {
  flex: 1;
}

:local(.responsiveMenu) {
  display: flex;
}

:local(.menuButton) {
  display: none;
  top: 22px;
  left: 20px;
  font-size: 25px;
}

@media only screen and (max-width: 768px) {
  :local(.responsiveMenu) {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    transition: all 0.3s;
  }

  :local(.showResponsiveMenu) {
    display: flex;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: all 0.3s;
  }

  :local(.menuButton) {
    display: flex;
    position: absolute;
  }
}
