:local(.container) {
}

:local(.buttonContainer) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

:local(.options) {
  border-top: 1px solid #eee;
  margin-top: 30px;
  padding-top: 20px;
  margin-bottom: 10px;
}
