:local(.container) {
  padding: 0px;
  padding-top: 0;
  font-size: 20px;
  font-weight: bold;
  overflow-x: hidden;
}

:local(.result) {
  padding: 0 0px;
  font-size: 30px;
  font-weight: 700;
  text-align: right;
}

:local(.fullSizeResult) {
  padding: 0 20px;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}
