:local(.container) {
  max-height: 200px;
  height: 100%;
  min-width: 220px;
  overflow-x: hidden;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 18px 35px rgba(50, 50, 93, 0.1), 0 8px 15px rgba(0, 0, 0, 0.07);
}

:local(.shortContainer) {
  composes: container;
  height: auto;
}

:local(.notifContainer) {
  height: 85%;
  overflow-y: scroll;
  margin-right: -50px;
  padding-right: 30px;
}

:local(.linkItem) {
  display: block;
  color: #000;
  padding: 8px 20px;
  background-color: rgba(242, 240, 240, 0.3);
}
:local(.linkItem):hover {
  background-color: rgba(242, 240, 240, 1);
}

:local(.notReadedLinkItem) {
  composes: linkItem;
  background-color: rgba(72, 72, 72, 0.3);
}

:local(.item) {
  composes: linkItem;
  cursor: default;
}

:local(.notReadedItem) {
  composes: notReadedLinkItem;
  cursor: default;
}

:local(.itemContent) {
  font-size: 10px;
}
