:local(.container) {
  margin-left: -10px;
}

:local(.container) a {
  color: #111;
  border-radius: 10px;
  padding: 5px 10px;
}

:local(.container) .last {
  border-radius: 10px;
  padding: 5px 10px;
}

:local(.container) a:hover {
  background: #f3f3f3;
}

:local(.right) {
  float: right;
  margin-top: 15px;
}
