:local(.headerContainer) {
	flex: 1;
	background-color: #fafafa;
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 899px) {
	:local(.headerContainer) {
		flex-direction: column;
		justify-content: center;
	}
}

:local(.headerContainer) span {
	margin-right: auto;
	margin-left: 10px;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .025em;
	color: #282828;
}

@media only screen and (max-width: 899px) {
	:local(.headerContainer) span {
		margin: 2px;
	}
}

:local(.headerOptions) {
	margin-right: 10px;
	margin-left: auto;
	height: 100%;
	display: flex;
}

@media only screen and (max-width: 899px) {
	:local(.headerOptions) {
		display: none;
	}
}

@media only screen and (min-width: 1400px) {
	:local(.headerOptions) {
		align-items: center;
	}
}

:local(.headerInputContainer) {
	align-self: center;
}

:local(.headerInputContainer) input[type="file"] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

:local(.headerContainer) div label {
	margin: 0;
	cursor: pointer;
	padding: 5px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .025em;
	border: none;
	border-radius: 4px;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

:local(.headerContainer) div label svg {
	margin-right: 10px;
}