:local(.container) {
  padding: 0px;
  position: relative;
}

:local(.container) .paginated-container {
  min-height: auto;
}

:local(.container) .paginated-table-items {
  min-height: auto;
}

:local(.container) .paginated-head-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

:local(.container) .paginated-list {
  background: #fff;
}

:local(.container) .paginated-error {
  background-color: #fff;
  display: none;
}

:local(.header) {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

:local(.headerComponent) {
  position: absolute;
  top: 22px;
  right: 20px;
  width: 50%;
}

:local(.title) {
  font-size: 20px;
  font-weight: bold;
}

:local(.container) .paginated-head {
  display: none;
}

:local(.needToSelectFilter) {
  padding: 60px 20px 100px 20px;
  color: #999;
  text-align: center;
}

:local(.footerText) {
  white-space: pre;
}

:local(.headerCheckBox) {
  margin-top: 2px;
}
