:local(.container) {
  display: block;
  z-index: 1;
  padding: 0px;
  position: relative;
  width: 100%;
  height: 100%;
}

@keyframes toFullSize {
  from {
    width: auto;
    height: auto;
  }
  to {
    width: 100% !important;
    height: 100% !important;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}

:local(.fullSize) {
  position: fixed !important;
  z-index: 10000;
  background-color: #fff;
  transition: all 1s ease;
  overflow: hidden;
  animation: toFullSize 5s ease;
}

:local(.fullSize) .paginated-head-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

:local(.container) .paginated-head-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

:local(.fullSize) .paginated-list {
  background: #fff;
}

:local(.fullSize) .paginated-error {
  background-color: #fff;
}

:local(.container) .paginated-list {
  background: #fff;
}

:local(.container) .paginated-error {
  background-color: #fff;
}

:local(.header) {
  padding: 20px;
}

:local(.title) {
  font-size: 20px;
  font-weight: bold;
}

:local(.container) .paginated-head {
  display: none;
}

:local(.fullSize) .paginated-head {
  display: none;
}

:local(.fullSize) .no-padding {
  width: calc(100% + 40px);
}

:local(.needToSelectFilter) {
  padding: 60px 20px 100px 20px;
  color: #999;
  text-align: center;
}
