:local(.container) {
}

:local(.placeholderContainer) {
  box-sizing: border-box;
  font-size: 16px;
  font-family: inherit;
  border: 1px solid #c2c2c2;
  border-radius: 4px;
  padding: 6px 10px;
  margin-bottom: 10px;
}

:local(.noValue) {
  padding: 4px 0;
  cursor: pointer;
  color: #666;
}

:local(.valueContainer) {
  display: flex;
  background-color: #eee;
  border-radius: 4px;
  font-size: 14px;
  padding: 5px 6px;
  font-weight: bold;
}

:local(.name) {
  flex: 1;
  cursor: pointer;
}
