:local(.button) {
  cursor: pointer;
  width: 100%;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: black;
  background-color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  height: 40px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  transition: all 0.15s ease;
  outline: none;
  margin-bottom: 10px;
  overflow: hidden;
}

:local(.container) {
  background-color: #fff;
  border-radius: 5;
  padding: 7;
  font-size: 18;
  color: #000;
  display: flex;
  border: 1px solid #c2c2c2;
}

:local(.name) {
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
}

:local(.buttons) {
  width: 70;
  text-align: right;
}

:local(.icon) {
  margin-left: 10;
  cursor: pointer;
}
